<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!--  meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet"
          th:href="@{/css/demo.css}" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Save Osago</title>
</head>

<body>
<div lang="en" th:replace="fragments/header :: header"></div>
<div class="container">

    <h3>Osago Directory</h3>
    <hr>

    <p class="h4 mb-4">Save Agent</p>

    <form action="#" th:action="@{/agents/save}"
          th:object="${agent}" method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}"/>

        <div class="input-group mb-3 row">
            <div class="col-3">
                <span class="input-group-text">Имя</span>
            </div>

            <input type="text" th:field="*{name}" class="form-control col-5" placeholder="Имя">
        </div>


        <button type="submit" class="btn btn-info col-2">Save</button>

    </form>

    <hr>
    <form action="#" th:action="@{/osagos/list}" method="GET">
        <button type="submit" class="btn btn-info btn-sm ml-3 mr-1">Список осаго</button>

    </form>

</div>
<div lang="en" th:replace="fragments/footer :: footer"> </div>
</body>

</html>










