<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Thymeleaf Demo</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!--	&lt;!&ndash; Bootstrap CSS &ndash;&gt;-->
<!--	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">-->

	<title>Hello world</title>
	<link rel="stylesheet"
		  th:href="@{/css/demo.css}" />
	
</head>

<body>

	<p th:text="'Time on the server is ' + ${theDate}" class="funny" />
	<div class="container">

		<footer>

			<span sec:authorize="isAuthenticated()">
                | Logged user: <span sec:authentication="name"></span> |
                Roles: <span sec:authentication="principal.authorities"></span> |
                <a th:href="@{/logout}">Sign Out</a>
            </span>

		</footer>
	</div>
</body>

</html>






