<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Osagos Directory</title>
</head>

<body>
<div lang="en" th:replace="fragments/header :: header"></div>
<div class="container">
    <h3>Osago Directory</h3>
    <hr>

    <div class="btn-group mb-2" role="group" aria-label="Button group with nested dropdown">
        <a th:href="@{/osagos/showFormForAdd}" type="button" class="btn btn-primary">Добавить Осаго</a>
        <a th:href="@{/agents/list}" type="button" class="btn btn-primary">Агенты</a>
        <a th:href="@{/insurer/list}" type="button" class="btn btn-primary">Страховые</a>
        <a th:href="@{/office/list}" type="button" class="btn btn-primary">Офисы</a>
        <a th:href="@{/location/list}" type="button" class="btn btn-primary">Территория</a>
    </div>
    </ul>


    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Оффис</th>
            <th>Тип клиента</th>
            <th>Дата начала полиса</th>
            <th>ФИО</th>
            <th>Телефон</th>
            <th>Страховая компания</th>
            <th>Модель Машины</th>
            <th>Действие</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempOsago : ${osago}">

            <td th:text="${tempOsago.office.name}"/>
            <td th:text="${tempOsago.kindClient}"/>
            <td th:text="${#dates.format(tempOsago.startDate, 'dd-MMM-yyyy')}"/>
            <td th:text="${tempOsago.firstName}"/>
            <td th:text="${tempOsago.phoneNumber}"/>
            <td th:text="${tempOsago.kindInsurance}"/>
            <td th:text="${tempOsago.modelAuto}"/>

            <td>
                <div class="btn-group" role="group">

                    <div>
                        <!-- Add "info" button/link -->
                        <form action="#" th:action="@{/osagos/showFormInfo}" method="POST">

                            <input type="hidden" name="osagoId" th:value="${tempOsago.id}"/>
                            <button type="submit" class="btn btn-info btn-sm ml-3">Инфо</button>

                        </form>
                    </div>
                    <div>
                        <!-- Add "update" button/link -->
                        <form action="#" th:action="@{/osagos/showFormForUpdate}" method="POST">

                            <input type="hidden" name="osagoId" th:value="${tempOsago.id}"/>
                            <button type="submit" class="btn btn-success btn-sm">Обновить</button>

                        </form>
                    </div>

                    <div>
                        <!-- Add "delete" button/link -->
                        <form action="#" th:action="@{/osagos/delete}" method="POST">

                            <input type="hidden" name="osagoId" th:value="${tempOsago.id}"/>
                            <button type="submit" class="btn btn-danger btn-sm"
                                    onclick="if (!(confirm('Are you sure you want to delete this osago?'))) return false">
                                Удалить
                            </button>

                        </form>
                    </div>
                </div>
            </td>


        </tr>
        </tbody>
    </table>
    <div lang="en" th:replace="fragments/footer :: footer"></div>
</div>

</body>
</html>



