<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Osago Directory</title>
</head>

<body>

<div class="container">

    <h3>Osago Directory</h3>
    <hr>

    <!-- Add a button -->
    <a th:href="@{/osagos/showFormForAdd}"
       class="btn btn-primary btn-sm mb-3">
        Add Osago
    </a>


    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Office</th>
            <th>Agent</th>
            <th>Phone Number</th>
            <th>Creation Date</th>
            <th>Area</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempOsago : ${osago}">

            <td th:text="${tempOsago.office}"/>
            <td th:text="${tempOsago.agent}"/>
            <td th:text="${tempOsago.phoneNumber}"/>
            <td th:text="${tempOsago.creationDate}"/>
            <td th:text="${tempOsago.area}"/>

            <td>
                <div class="row">

                    <div class="col-small">
                        <!-- Add "info" button/link -->
                        <form action="#" th:action="@{/osagos/showFormInfo}" method="POST">

                            <input type="hidden" name="osagoId" th:value="${tempOsago.id}"/>
                            <button type="submit" class="btn btn-info btn-sm ml-3 mr-2">Info</button>

                        </form>
                    </div>
                    <div class="col-small">
                        <!-- Add "update" button/link -->
                        <form action="#" th:action="@{/osagos/showFormForUpdate}" method="POST">

                            <input type="hidden" name="osagoId" th:value="${tempOsago.id}"/>
                            <button type="submit" class="btn btn-success btn-sm mr-2">Update</button>

                        </form>
                    </div>

                    <div class="col-small">
                        <!-- Add "delete" button/link -->
                        <form action="#" th:action="@{/osagos/delete}" method="POST">

                            <input type="hidden" name="employeeId" th:value="${tempOsago.id}"/>
                            <button type="submit" class="btn btn-danger btn-sm"
                                    onclick="if (!(confirm('Are you sure you want to delete this osago?'))) return false">
                                Delete
                            </button>

                        </form>
                    </div>
                </div>
            </td>


        </tr>
        </tbody>
    </table>

</div>

</body>
</html>



